---
import Header from "@/components/Header.astro";
import Section from "@/components/Section.astro";
import Card from "@/components/Card.astro";
import Technologies from "@/components/Technologies.astro";
import Experience from "@/components/Experience.astro";
import SocialPill from '@/components/SocialPill.astro'
import GitHub from '@/components/icons/GitHub.astro'
import LinkedIn from '@/components/icons/LinkedIn.astro'

import { projects, experience } from "@/data";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Alan Mayorga - Programador y Desarrollador Web</title>
    <meta name="description" content="Contrata a Alan Mayorga para crear aplicaciones web o moviles. Especializado en crear aplicaciones a la medida." />
  </head>
  <body class="dark:bg-neutral-950 dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))] dark:text-white">
    <Header />
    <main class="mx-auto max-w-3xl p-4">
      <article class="grid h-screen place-content-center">
        <h1
          class="mx-auto w-[9ch] animate-[typing_2s_steps(12),blink_.6s_infinite_step-end_alternate,waves_12s_linear_infinite] overflow-hidden border-r-4 bg-gradient-circle bg-clip-text font-black text-transparent dark:border-white text-7xl sm:text-8xl md:text-9xl"
        >
          ALAN.DEV
        </h1>
        <section class="my-4">
          <p class="mb-2 text-center text-xl sm:text-2xl md:text-4xl">
            Soy <em class="font-bold">Alan Mayorga</em>. Ingeniero TI con +3 a침os de experiencia, principalmente enfocada
            en el desarrollo web.
          </p>
          <section class="flex justify-center gap-3 p-3">
            <SocialPill
              href="https://github.com/AlanMayorga"
            >
              <GitHub class="w-6 h-6" />
              GitHub
            </SocialPill>
            <SocialPill
              href="https://www.linkedin.com/in/alan-mayorga/"
            >
              <LinkedIn width="24" height="24" />
              LinkedIn
            </SocialPill>
            <a href="http://" target="_blank" rel="noopener noreferrer"></a>
          </section>
        </section>
      </article>
      <Technologies />
        <Section id="experience" title="Experiencia" class="mt-0">
          <article class="mb-4">
            {
              experience.map(({ title, date, responsibilities, achievements }) => (
                <Experience title={title} date={date}, responsibilitis={responsibilities} achievements={achievements} />
              ))
            }
          </article>
        </Section>
        <Section id="proyects" title="Proyectos">
          <div class="grid grid-cols-2 gap-3">
            {
              projects.map(({ title, description, github, img, site }) => (
                <Card
                  title={title}
                  description={description}
                  github={github}
                  site={site}
                  img={img}
                />
              ))
            }
          </div>
        </Section>
        <Section
          id="about"
          title="Acerca de mi"
          content={[
            "+3 a침os de experiencia como Front End Developer donde tambi칠n he cumplido con la funci칩n de Full Stack Developer. Siempre me aseguro de utilizar las mejores pr치cticas de desarrollo para cumplir con los objetivos esperados del proyecto, y as칤 garantizar la satisfacci칩n del cliente. Estoy dedicado a la mejora continua de mi habilidad y conocimiento en el desarrollo de software para crear soluciones innovadoras y eficientes.",
            "Me gusta escuchar musica y hacer deporte, ademas de comer mucho (hamburgesas 游땖), y de vez en cuando viajar y conocer lugares nuevos.",
          ]}
        />
    </main>
    <footer class="mx-auto my-0 max-w-screen-md p-3">
      <section class="text-center text-xs">
        Mi inspiraci칩n: <a
          href="http://midu.dev"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-500">midudev</a
        > 游눞
      </section>
    </footer>
  </body>
</html>

<style>
  html {
    scroll-behavior: smooth;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

  @keyframes typing {
    from {
      width: 0;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

  @keyframes waves {
    50% {
      background-position: 9rem 4rem;
    }
  }
</style>

<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme')
    }
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      return 'dark'
    }
    return 'light'
  })()

  if (theme === 'light') {
    document.documentElement.classList.remove('dark')
  } else {
    document.documentElement.classList.add('dark')
  }
</script>